<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>ui_1.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{329,108}</string>
        <key>spriteSourceSize</key>
        <string>{329,108}</string>
        <key>textureRect</key>
        <string>{{359,261},{329,108}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>ui_10.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{148,149}</string>
        <key>spriteSourceSize</key>
        <string>{148,149}</string>
        <key>textureRect</key>
        <string>{{1,529},{148,149}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>ui_11.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{148,149}</string>
        <key>spriteSourceSize</key>
        <string>{148,149}</string>
        <key>textureRect</key>
        <string>{{150,529},{148,149}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>ui_12.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{148,149}</string>
        <key>spriteSourceSize</key>
        <string>{148,149}</string>
        <key>textureRect</key>
        <string>{{299,529},{148,149}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>ui_13.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{108,148}</string>
        <key>spriteSourceSize</key>
        <string>{108,148}</string>
        <key>textureRect</key>
        <string>{{149,679},{108,148}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>ui_14.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{149,150}</string>
        <key>spriteSourceSize</key>
        <string>{149,150}</string>
        <key>textureRect</key>
        <string>{{540,370},{149,150}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>ui_15.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{148,150}</string>
        <key>spriteSourceSize</key>
        <string>{148,150}</string>
        <key>textureRect</key>
        <string>{{690,370},{148,150}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>ui_16.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{147,149}</string>
        <key>spriteSourceSize</key>
        <string>{147,149}</string>
        <key>textureRect</key>
        <string>{{1,679},{147,149}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>ui_17.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{149,149}</string>
        <key>spriteSourceSize</key>
        <string>{149,149}</string>
        <key>textureRect</key>
        <string>{{839,370},{149,149}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>ui_18.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{148,149}</string>
        <key>spriteSourceSize</key>
        <string>{148,149}</string>
        <key>textureRect</key>
        <string>{{448,529},{148,149}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>ui_19.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{281,105}</string>
        <key>spriteSourceSize</key>
        <string>{281,105}</string>
        <key>textureRect</key>
        <string>{{689,261},{281,105}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>ui_2.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{357,86}</string>
        <key>spriteSourceSize</key>
        <string>{357,86}</string>
        <key>textureRect</key>
        <string>{{1,261},{357,86}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>ui_20.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{382,105}</string>
        <key>spriteSourceSize</key>
        <string>{382,105}</string>
        <key>textureRect</key>
        <string>{{451,1},{382,105}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>ui_21.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{189,104}</string>
        <key>spriteSourceSize</key>
        <string>{189,104}</string>
        <key>textureRect</key>
        <string>{{1,370},{189,104}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>ui_22.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{103,104}</string>
        <key>spriteSourceSize</key>
        <string>{103,104}</string>
        <key>textureRect</key>
        <string>{{258,679},{103,104}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>ui_23.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{100,100}</string>
        <key>spriteSourceSize</key>
        <string>{100,100}</string>
        <key>textureRect</key>
        <string>{{362,679},{100,100}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>ui_24.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{449,94}</string>
        <key>spriteSourceSize</key>
        <string>{449,94}</string>
        <key>textureRect</key>
        <string>{{1,1},{449,94}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>ui_25.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{175,88}</string>
        <key>spriteSourceSize</key>
        <string>{175,88}</string>
        <key>textureRect</key>
        <string>{{191,370},{175,88}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>ui_3.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{83,85}</string>
        <key>spriteSourceSize</key>
        <string>{83,85}</string>
        <key>textureRect</key>
        <string>{{463,679},{83,85}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>ui_4.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{76,82}</string>
        <key>spriteSourceSize</key>
        <string>{76,82}</string>
        <key>textureRect</key>
        <string>{{547,679},{76,82}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>ui_5.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{172,158}</string>
        <key>spriteSourceSize</key>
        <string>{172,158}</string>
        <key>textureRect</key>
        <string>{{367,370},{172,158}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>ui_6.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{358,153}</string>
        <key>spriteSourceSize</key>
        <string>{358,153}</string>
        <key>textureRect</key>
        <string>{{363,107},{358,153}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>ui_7.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{361,153}</string>
        <key>spriteSourceSize</key>
        <string>{361,153}</string>
        <key>textureRect</key>
        <string>{{1,107},{361,153}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>ui_8.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{148,149}</string>
        <key>spriteSourceSize</key>
        <string>{148,149}</string>
        <key>textureRect</key>
        <string>{{597,529},{148,149}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>ui_9.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{148,149}</string>
        <key>spriteSourceSize</key>
        <string>{148,149}</string>
        <key>textureRect</key>
        <string>{{746,529},{148,149}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>3</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>atlas.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>smartupdate</key>
      <string/>
      <key>textureFileName</key>
      <string>atlas.png</string>
    </dict>
  </dict>
</plist>